.Statue{
  background-image: url('/Pictures/heraclesStand.jpg'); /* Path to your image */
  background-repeat: no-repeat;            /* Prevent the image from repeating */
}
.RefusedCallBackground{
    background-color: rgb(120, 120, 120);
}
.RedTextLayOut{
    background-color: rgb(255, 2, 2);
}
.whiteText{
    color: antiquewhite;
}

h1 {

    color: brown;
}


.FancyFont1{
    font-style:italic;
}
.Gold{
    color: rgb(162, 144, 7);
}

.red{
    color: red;
}

.blue{
    color: rgb(1, 199, 199);
}
