.Statue{
  background-image: url('/Pictures/heraclesStand.jpg'); /* Path to your image */
  background-repeat: no-repeat;
  background-position: right;
             /* Prevent the image from repeating */
}
.NoStop{
  background-image: url('/Pictures/Stop.png'); /* Path to your image */
  background-repeat: no-repeat;
  background-position: bottom-left;
             /* Prevent the image from repeating */
}
.Happy{
  background-image: url('/Pictures/Hercules2.jpg') ; /* Path to your image */
  background-repeat: no-repeat

             /* Prevent the image from repeating */
}

.story {
  text-align: left;
  padding: 1rem;
  font-size: larger;

}

.container {
  border: 3px solid red;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 50rem;
  height: 100vh;
}
.RefusedCallBackground{
    background-color: bisque;
}
.RedTextLayOut{
    background-color: rgb(255, 2, 2);
}
.whiteText{
    color: antiquewhite;
}

h1 {
    text-align: center;
    padding: 1rem;
    color: brown;
    font-size: xx-large;
}


.FancyFont1{
    font-style:italic;
}
.Gold{
    color: rgb(162, 144, 7);
}

.red{
    color: red;
}

.blue{
    color: rgb(1, 199, 199);
}
.right{
    right: 7;
}
